@import url("./../../global-colors.css");

.restaurantsPageContainer {
  background-color: var(--light-secondary-color);
}

.restaurantsTabsContainer {
  height: 50px;
  background-color: var(--primary-color);
  color: var(--light-secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
