.page {
  min-height: calc(100vh - 70px - 70px - 250px - 50px - 100px);
  margin: 50px 30px;
}

.page.light {
  background-color: #f8f8f8;
}

@media (min-width: 992px) {
  .page {
    margin: 50px 200px;
  }
}
