@import url("./../../global-colors.css");

.counter {
  font-size: 30px;
  width: 36px;
  height: 36px;
  background-color: var(--primary-color);
  border-radius: 1px;
  border: none;
}

.counter:hover {
  opacity: 0.8;
}

.counterContainer {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
