.restaurantContainer {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.restaurantName {
  margin-bottom: 30px;
}

.reataurantTabs {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
