.restaurantContainer {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.restaurantName {
  margin-bottom: 30px;
}

.cardsSections {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
