@import url("./../../global-colors.css");

.headerContainer {
  color: var(--primary-color);
  background-color: var(--dark-secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
  height: 70px;
}

.title {
  font-weight: 900;
  text-align: center;
}
