@import url("./../../global-colors.css");

.footerContainer {
  width: 100%;
  height: 70px;
  color: var(--light-secondary-color);
  background-color: var(--dark-secondary-color);
  display: flex;
  align-items: center;
  padding-left: 50px;
}
