* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ul li {
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #2a2a2a;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

section {
  margin-bottom: 50px;
}

textarea {
  height: 100px;
}

input {
  height: 25px;
}
