.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: white;
  border-radius: 1px;
}

.dishInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}

.price {
  width: 30px;
  text-align: end;
}
